.vscode
letsencrypt.tar.gz
client/mainclient/node_modules
client/mainclient/public
client/mainclient/src
client/mainclient/.gitignore
client/mainclient/package.json
client/mainclient/package-lock.json
client/mainclient/README.md
client/examclient/node_modules
client/examclient/public
client/examclient/src
client/examclient/.gitignore
client/examclient/package.json
client/examclient/package-lock.json
client/examclient/README.md
client/practiceclient/node_modules
client/practiceclient/public
client/practiceclient/src
client/practiceclient/.gitignore
client/practiceclient/package.json
client/practiceclient/package-lock.json
client/practiceclient/README.md
server/.env
server/node_modules